div#mymap{
    width: 630px;
    height: 600px;
    float: left;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

label#lbl-linha1{
    color: #0097C9;
    font-weight: bold;
}

label#lbl-linha2{
    color: #7C7373;
    font-weight: bold;
}

label#lbl-linha5{
    color: #1267FF;
    font-weight: bold;
}

label#lbl-linha3{
    color: #001B8E;
    font-weight: bold;
}

label#lbl-linha6{
    color:#D2691E;
    font-weight: bold;
}